<div class="home-container">
    <div class="title greeting-title">Welcome, {{ username }}</div>
    <button (click)="createMedicalAppointment()" class="appointment btn-appointment">
    Create Medical Appointment
  </button>
</div>