.greeting-title {
    place-self: center;
    grid-row: 2;
    grid-column: 2 / span 3;
}

.appointment {
    display: flex;
    justify-items: stretch;
    grid-column: 3;
    grid-row: 4;
}

.home-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 35% 10% 10% 10% 35%;
    grid-template-rows: 25% 25% 5% 10% 35%;
    grid-template-areas: ". . . . ." ". greeting-user ." ". . . . ." ". . appointment . ." ". . . . .";
}

.title {
    color: rgb(28, 89, 100);
    font-size: 55px;
    font-family: "Brushstroke";
    font-weight: bold;
    letter-spacing: 5px;
    top: 45%;
    left: 50%;
}

.btn-appointment {
    border: black;
    background-color: rgb(28, 89, 100);
    color: aliceblue;
    font-size: large;
    width: 100%;
}

.btn-appointment:hover {
    background-color: darkcyan;
}