<div class="login-container">
    <div class="greeting greeting-title">Welcome</div>
    <div class="register">
        <button (click)="openRegister()" class="btn-register">Register</button>
    </div>
    <div class="signin">
        <button (click)="changeDisplay(true)" class="btn-signin-first">
      <span>Sign in</span>
    </button>
    </div>
</div>

<div class="modal" [style.display]="displaySignInModal ? 'block' : 'none'">
    <a href="#"><span (click)="changeDisplay(false)" class="close" title="Close">
      &times;
    </span>
  </a>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()" style="background-color: whitesmoke">
        <div class="form-group">
            <label class="labels">Username:</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter your Username" required/>
            <label class="labels">Password:</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter your Password" required/>
        </div>

        <div class="form-group">
            <button type="button" (click)="changeDisplay(false)" class="btn-cancel">
        <span class="fa fa-reply"></span> Go back
      </button>
            <button type="submit" class="btn-signin">
        Sign in <span class="fa fa-sign-in"></span>
      </button>
        </div>

        <div id="alert" class="{{ showMessage.message.type }}" *ngIf="showMessage.message.message != ''" role="alert">
            {{ showMessage.message.message }}
        </div>
    </form>
</div>