.greeting-title {
  align-self: end;
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
}
.register {
  display: flex;
  justify-items: stretch;
  grid-column: 3;
  grid-row: 3;
}
.signin {
  display: flex;
  justify-items: stretch;
  grid-column: 5;
  grid-row: 3;
}
.login-container {
  background: url("../../../assets/images/login-background.jpg") no-repeat
    center center fixed;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 15% 23% 10% 4% 10% 31% 7%;
  grid-template-rows: 25% 25% 5% 45%;
  grid-template-areas:
    ". . . . . . ."
    ". . greeting-title . ."
    ". . register . signin . ."
    ". . . . . . .";
}
.greeting {
  text-align: center;
  color: rgb(28, 89, 100);
  font-size: 60px;
  font-family: "Brushstroke";
  font-weight: thin;
}
.btn-register {
  border: black;
  background-color: indianred;
  color: aliceblue;
  font-size: large;
  width: 100%;
}
.btn-register:hover {
  background-color: rgba(245, 88, 68, 0.863);
}
.btn-signin-first {
  border: black;
  background-color: darkcyan;
  color: aliceblue;
  font-size: large;
  width: 100%;
}
.btn-signin-first span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn-signin-first span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}
.btn-signin-first:hover span {
  padding-right: 20px;
}
.btn-signin-first:hover span:after {
  opacity: 1;
  right: 0;
}
.modal {
  width: 25%;
  height: auto;
  display: none;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form {
  width: 100%;
  height: 100%;
  padding: 2% 3% 3% 3%;
}
.labels {
  color: rgb(28, 89, 100);
  font-size: 25px;
  font-family: "Brushstroke";
}
.btn-cancel {
  border: none;
  border-radius: 3px;
  background-color: crimson;
  color: aliceblue;
  width: 100px;
  height: 30px;
}
.btn-signin {
  border: none;
  border-radius: 3px;
  background-color: darkcyan;
  color: aliceblue;
  float: right;
  width: 100px;
  height: 30px;
}
.close {
  margin-right: 0;
  padding-right: 1%;
  padding-top: 1%;
}
.response-message {
  max-width: 25%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
