.logo {
  display: flex;
  justify-items: stretch;
  justify-self: flex-start;
  grid-column: 1;
}
.btns {
  display: flex;
  justify-items: stretch;
  grid-column: 2;
}
.signInOut {
  display: flex;
  justify-items: stretch;
  grid-column: 3;
}
.header-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 70% 20% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "logo . btns signInOut";
}
.btn-logo {
  border: none;
  background-color: rgb(28, 89, 100);
  color: aliceblue;
  width: 100%;
  font-size: x-large;
  font-weight: bold;
}
.sign-in {
  border: none;
  background: rgb(28, 89, 100);
  color: aliceblue;
  width: 100%;
}
.sign-in:hover {
  background-color: darkcyan;
}
.sign-out {
  border: none;
  background: rgb(28, 89, 100);
  color: aliceblue;
  width: 100%;
}
.sign-out:hover {
  background-color: darkcyan;
}
.modal {
  width: 25%;
  height: auto;
  display: none;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form {
  width: 100%;
  height: 100%;
  padding: 2% 3% 3% 3%;
}
.labels {
  color: rgb(28, 89, 100);
  font-size: 25px;
  font-family: "Brushstroke";
}
.btn-cancel {
  border: none;
  border-radius: 3px;
  background-color: crimson;
  color: aliceblue;
  width: 100px;
  height: 30px;
}
.btn-signin {
  border: none;
  border-radius: 3px;
  background-color: darkcyan;
  color: aliceblue;
  float: right;
  width: 100px;
  height: 30px;
}
.close {
  margin-right: 0;
  padding-right: 1%;
  padding-top: 1%;
}
.response-message {
  max-width: 25%;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
