<div class="container-app">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="main-footer footer">
        &copy; All Rights Reserved 2019-2020 Way To Heaven
    </div>
</div>