.content {
    overflow: hidden;
    overflow-y: auto;
}

.header {
    background: rgb(28, 89, 100);
    grid-row: 1;
}

.footer {
    background: rgb(28, 89, 100);
    grid-row: 3;
}

.container-app {
    display: grid;
    grid-template-rows: 6% 90.5% 3.5%;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    height: 100%;
    grid-template-areas: "header" "content" "footer";
}

.main-footer {
    text-align: center;
    color: aliceblue;
}