.appointment {
    width: 45%;
    margin: auto;
    padding: 1% 1% 1% 2%;
}

.label-tittle {
    color: rgb(28, 89, 100);
    font-size: 30px;
    font-family: "Brushstroke";
    margin-top: 30px;
    margin-left: 240px;
}

.labels {
    color: rgb(28, 89, 100);
    font-size: 30px;
    font-family: "Brushstroke";
    margin-top: 10px;
    margin-left: 20px;
}

.appointment-form {
    align-items: center;
    padding-bottom: 2%;
}

.btn-appointment {
    border: black;
    background-color: rgb(28, 89, 100);
    color: aliceblue;
    font-size: large;
    width: 100%;
}

.btn-appointment:hover {
    background-color: darkcyan;
}

.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(28, 89, 100);
    color: white;
}