<div class="appointment">
    <form class="appointment-form" [formGroup]="appointmentForm">
        <div class="form-group">
            <label class="label-tittle">REGISTER APPOINTMENT</label>
        </div>
        <div class="form-group">
            <label class="labels">Date:</label>
            <input class="form-control" formControlName="date" required type="date" value="2020-01-01" min="2020-01-01" max="2020-12-31" />
        </div>
        <div class="form-group">
            <label class="labels">Specialty:</label>
            <select formControlName="specialty" class="form-control" (change)="searchDoctors()">
        <option
          *ngFor="let item of specialties$ | async"
          [value]="item.id_specialty"
          >{{ item.name }}
        </option>
      
        </select>
            <div class="form-group">
                <label class="labels">Doctor:</label>
                <select formControlName="doctor" class="form-control" (change)="searchSchedules()">
          <option
            *ngFor="let item of doctors$ | async"
            [value]="item.id_doctor"
            >{{ getFullNameDoctor(item) }}
          </option>
        </select>

            </div>
            <div class="form-group" name="table">
                <table id="customers">
                    <thead>
                        <th>Start Time:</th>
                        <th>End Time:</th>
                        <th>Select schedule</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of doctorSchedule$| async">
                            <td>{{item.start_time}}</td>
                            <td>{{item.end_time}}</td>
                            <td>
                                <div *ngIf="item.available">
                                    <input formControlName="start_time" type='radio' value="{{item.start_time}}" name="radiobutton">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button (click)="saveMedicalAppointment()" class="appointment btn-appointment">
            Create Medical Appointment
          </button>
    </form>
</div>