<div class="register-container">
  <div class="register">
    <form class="person-form" [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div class="form-group">
        <label class="labels">First Name:</label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="first_name"
          placeholder="Enter your first name"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.first_name.touched &&
            userForm.controls.first_name.invalid
          "
        >
          <div *ngIf="userForm.controls.first_name.errors.required">
            Enter your first name
          </div>

          <div *ngIf="userForm.controls.first_name.errors.minlength">
            Minimum characters: 3
          </div>

          <div *ngIf="userForm.controls.first_name.errors.maxlength">
            Maximum characters: 20
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="labels">Last Name:</label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="last_name"
          placeholder="Enter your last name"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.last_name.touched &&
            userForm.controls.last_name.invalid
          "
        >
          <div *ngIf="userForm.controls.last_name.errors.required">
            Enter your last name
          </div>

          <div *ngIf="userForm.controls.last_name.errors.minlength">
            Minimum characters: 3
          </div>

          <div *ngIf="userForm.controls.last_name.errors.maxlength">
            Maximum characters: 30
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="labels">Birthday:</label>
        <input
          type="date"
          class="form-control"
          required
          formControlName="birthday"
          placeholder="Enter your date of birth"
        />
        <div
          *ngIf="
            userForm.controls.birthday.touched &&
            userForm.controls.birthday.invalid
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="userForm.controls.birthday.errors.required"
          >
            Enter your birthday
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="labels">Gender:</label>
        <select class="form-control" formControlName="gender">
          <option value="" disabled selected>Select your gender</option>
          <option value="M" selected>Male</option>
          <option value="F">Female</option>
        </select>

        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.gender.touched && userForm.controls.gender.invalid
          "
        >
          <div *ngIf="userForm.controls.gender.errors.required">
            Enter your gender
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="labels">Phone Number:</label>
        <input
          type="tel"
          class="form-control"
          required
          formControlName="phone"
          placeholder="Enter your phone number"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.phone.touched && userForm.controls.phone.invalid
          "
        >
          <div *ngIf="userForm.controls.phone.errors.required">
            Enter your phone number
          </div>

          <div *ngIf="userForm.controls.phone.errors.pattern">
            Enter Only Numbers
          </div>

          <div *ngIf="userForm.controls.phone.errors.minlength">
            Minimum characters: 8
          </div>

          <div *ngIf="userForm.controls.phone.errors.maxlength">
            Maximum characters: 11
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="labels">Email Address:</label>
        <input
          type="email"
          class="form-control"
          required
          formControlName="address_email"
          placeholder="Enter you email address"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.address_email.touched &&
            userForm.controls.address_email.invalid
          "
        >
          <div *ngIf="userForm.controls.address_email.errors.required">
            Enter your email address
          </div>

          <div *ngIf="userForm.controls.address_email.errors.email">
            Enter a valid email address
          </div>

          <div *ngIf="userForm.controls.address_email.errors.maxlength">
            Maximum characters: 50
          </div>

          <div *ngIf="userForm.controls.address_email.errors.minlength">
            Minimum characters: 10
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="labels">Username:</label>
        <input
          type="text"
          class="form-control"
          required
          formControlName="username"
          placeholder="Enter your username"
        />
        <div
          class="alert alert-danger"
          class="alert alert-danger"
          *ngIf="
            userForm.controls.username.touched &&
            userForm.controls.username.invalid
          "
        >
          <div *ngIf="userForm.controls.username.errors.required">
            Enter your username
          </div>
          <div *ngIf="userForm.controls.username.errors.minlength">
            Minimum characters: 5
          </div>

          <div *ngIf="userForm.controls.username.errors.maxlength">
            Maximum characters: 15
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="labels">Confirm Password:</label>
        <input
          type="password"
          class="form-control"
          required
          formControlName="password"
          placeholder="Enter your password"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.password.touched &&
            userForm.controls.password.invalid
          "
        >
          <div *ngIf="userForm.controls.password.errors.required">
            Enter your password
          </div>

          <div *ngIf="userForm.controls.password.errors.minlength">
            Minimum characters: 6
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="labels">Password:</label>
        <input
          type="password"
          class="form-control"
          required
          formControlName="repeatPassword"
          placeholder="Confirm password"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            userForm.controls.repeatPassword.touched && userForm.errors?.invalid
          "
        >
          <div *ngIf="userForm.controls.repeatPassword.invalid">
            <div *ngIf="userForm.controls.repeatPassword.errors.required">
              Confirm password
            </div>
          </div>

          <div
            *ngIf="
              userForm.errors?.invalid &&
              userForm.controls.repeatPassword.touched
            "
          >
            Passwords do not match
          </div>
        </div>
      </div>

      <div
        id="alert"
        class="{{ showMessage.message.type }}"
        *ngIf="showMessage.message.message != ''"
        role="alert"
      >
        {{ showMessage.message.message }}
      </div>

      <button
        type="button"
        class="btn-create"
        type="submit"
        [disabled]="!userForm.valid"
      >
        CREATE
      </button>
    </form>
  </div>
</div>