.register {
  display: grid;
  grid-column: 2;
}
.register-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
  grid-template-areas: ". register .";
}
.register {
  width: 100%;
  margin: auto;
  padding: 1% 1% 1% 2%;
}
.person-form {
  align-items: center;
  padding-bottom: 2%;
}
.labels {
  color: rgb(28, 89, 100);
  font-size: 25px;
  font-family: "Brushstroke";
}
.btn-create {
  border: black;
  border-radius: 3px;
  background-color: darkcyan;
  color: aliceblue;
  font-size: medium;
}
